[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
sqlalchemy-serializer = "*"


[dev-packages]
autopep8 = "*"
flake8 = "*"
pytest = "*"
[requires]
python_version = "3.11"
