[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-migrate = "*"
pytest = "*"
autopep8 = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.11"
